.git.github.vscode.idea.dart_tool.buildlogbuild**/buildcoverage*.log*.tmp*.swp.DS_Store# Flutter / Dart.pub-cache.flutter-plugins.flutter-plugins-dependencies.packages.pub# Platform artifactsandroid/.gradleandroid/app/buildios/Podsios/.symlinkslinux/fluttermacos/Flutter/ephemeralwindows/flutter